input {
  display: none;
}

:host {
  width: 100%;
  text-align: center;
}

.radio-label {
  padding: 11.5px;
  border-radius: 6px;
  display: block;
  color: #4b5563;
  border: 1px solid #d1d5db;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;
  transition-timing-function: ease ease ease ease;
  cursor: pointer;

  &:hover {
    background: #f3f4f6;
  }
}

.radio-label-checked {
  background: #3b82f6;
  border: 1px solid #3b82f6;
  color: #ffffff;

  &:hover {
    background: #2563eb;
    box-shadow:
      0 0 0 2px #ffffff,
      0 0 0 4px #9dc1fb,
      0 1px 2px 0 #000;
  }
}
